<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A new team?</h2>
                <hr class="light">
                <p class="text-faded">Whether you are looking for a new team or the member for your current team we can help.</p>
                <a href="#contact" class="btn btn-default btn-xl page-scroll">Let's start talking</a>
            </div>
        </div>
    </div>
</section>
